<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Defuser_Imitation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Defuser_Imitation.Properties.Settings>
            <setting name="DeviceCode" serializeAs="String">
                <value>00000000</value>
            </setting>
            <setting name="DefuseCountdown" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="RoundCountdown" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ActiveDeviceVolume" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="RoundVolume" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="USBDeviceName" serializeAs="String">
                <value>USB-Device-Name</value>
            </setting>
            <setting name="DeviceTypeCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManualInputDigitsCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UseUSBDevice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NeedToClearTemp" serializeAs="String">
                <value>False</value>
            </setting>
        </Defuser_Imitation.Properties.Settings>
    </userSettings>
</configuration>