<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Defuser_Imitation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Defuser_Imitation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Defuser_Imitation.Properties.Settings>
            <setting name="DeviceCode" serializeAs="String">
                <value>00000000</value>
            </setting>
            <setting name="DeactivationPhaseCountdown" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ActivationPhaseCountdown" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="DeactivationPhaseVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ActivationPhaseVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="USBDeviceName" serializeAs="String">
                <value>USB-Device-Name</value>
            </setting>
            <setting name="DeviceTypeCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManualInputDigitsCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UseUSBDevice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NeedToClearTemp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreparationPhaseCountdown" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PreparationPhaseVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ComplitionPhaseVolume" serializeAs="String">
                <value>50</value>
            </setting>
        </Defuser_Imitation.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Defuser_Imitation.Properties.Settings>
            <setting name="RepositoryName" serializeAs="String">
                <value>Defuser_Imitation</value>
            </setting>
            <setting name="RepositoryOwner" serializeAs="String">
                <value>grosfae</value>
            </setting>
        </Defuser_Imitation.Properties.Settings>
    </applicationSettings>
</configuration>